<launch>
  <arg name="model" default="minibot_light_01"/>
  <arg name="model_path" default="$(find oit_navigation_minibot_light_01)/urdf/$(arg model).xacro"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model_path)" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
