<launch>
  <arg name="bag" default="" />
  <arg name="bag_path" default="$(find oit_navigation_minibot_light_01)/bags/$(arg bag)" />
  <arg name="rate" default="1" />
  <arg name="xmin" default="-5"/>
  <arg name="xmax" default="5"/>
  <arg name="ymin" default="-5"/>
  <arg name="ymax" default="5"/>
  <arg name="delta" default="0.05"/>

  <include file="$(find oit_navigation_minibot_light_01)/launch/play_rosbag.launch">
    <arg name="bag_path" value="$(arg bag_path)" />
    <arg name="rviz_file" value="mapping" />
    <arg name="rate" value="$(arg rate)" />
  </include>
  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen" required="true">
    <remap from="scan" to="base_scan" />
    <param name="xmin" value="$(arg xmin)" />
    <param name="xmax" value="$(arg xmax)" />
    <param name="ymin" value="$(arg ymin)" />
    <param name="ymax" value="$(arg ymax)" />
    <param name="delta" value="$(arg delta)" />
  </node>

</launch>
