<launch>
  <arg name="minimal" default="true" />
  <arg name="minimal_targets" default="'/(rplidar_scan|base_scan|clock|cmd_vel|odom|fix|imu|odometry/gps|tf|tf_static)'" />
  <group if="$(arg minimal)">
    <node pkg="rosbag" type="record" name="record" output="screen" args="-j -e $(arg minimal_targets)"/>
  </group>
  <group unless="$(arg minimal)">
    <node pkg="rosbag" type="record" name="record" output="screen" args="-a -j -x '(.*)/compressed(.*)'"/>
  </group>
</launch>
