<launch>
  <arg name="use_rviz" default="true" />
  <arg name="rviz_required" default="true" />
  <!-- mouse joy key none -->
  <arg name="teleop" default="joy" />

  <arg name="xmin" default="-5"/>
  <arg name="xmax" default="5"/>
  <arg name="ymin" default="-5"/>
  <arg name="ymax" default="5"/>
  <arg name="use_camera" default="true" />
  <arg name="use_ydlidar" default="true" />

  <include file="$(find oit_navigation_minibot_light_01)/launch/real/teleop.launch">
    <arg name="use_rviz" value="false" />
    <arg name="teleop" value="$(arg teleop)" />
    <arg name="use_camera" value="$(arg use_camera)" />
    <arg name="use_ydlidar" value="$(arg use_ydlidar)" />
  </include>

  <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
    <remap from="scan" to="base_scan" />
    <param name="xmin" value="$(arg xmin)" />
    <param name="xmax" value="$(arg xmax)" />
    <param name="ymin" value="$(arg ymin)" />
    <param name="ymax" value="$(arg ymax)" />
  </node>

  <include if="$(arg use_rviz)" file="$(find oit_navigation_minibot_light_01)/launch/include/rviz.launch">
    <arg name="file" value="mapping" />
    <arg name="required" value="$(arg rviz_required)" />
  </include>
</launch>
