[Desktop Entry]
Type=Application
Version=1.0
Name=capture
Comment=
Exec=bash -c "source /opt/ros/melodic/setup.bash && source $HOME/catkin_ws/devel/setup.bash && rosrun oit_navigation_minibot_light_01 image_capture.py"
# Icon=/home/oit/ros.png
Terminal=true
