[Desktop Entry]
Type=Application
Version=1.0
Name=mapping
Comment=
Exec=bash -c "source /opt/ros/melodic/setup.bash && source $HOME/catkin_ws/devel/setup.bash && roslaunch oit_navigation_minibot_light_01 mapping.launch"
# Icon=/home/oit/ros.png
Terminal=true
