[Desktop Entry]
Type=Application
Version=1.0
Name=teleop
Comment=oit_navigation_minibot_light_01 keyboard teleop
Exec=bash -c "source /opt/ros/melodic/setup.bash && source ~/catkin_ws/devel/setup.bash && source ~/.bashrc && roslaunch oit_navigation_minibot_light_01 teleop.launch"
Icon=oit_teleop
Terminal=true
